[submodule "provisioning/roles/fingers/files/finger"]
	path = provisioning/roles/fingers/files/finger
	url = git@github.com:longnguyen11288/finger.git
[submodule "provisioning/roles/head/files/head"]
	path = provisioning/roles/head/files/head
	url = git@github.com:longnguyen11288/head.git
